body{
    background-color: #333;

}
#carusel{
    background-color: #555;
    width: 800px;
    height: 600px;
}
#carusel .slide{
    border: 1px dotted red;
    width: inherit;
    height: inherit;
}



/* boxes */
#carusel .slide .box{
    width: 100px;
    height: 100px;
    /* border: 1px dotted white; */
    /* background-image: url(Images-Dom/girls-river.jpeg); */
    float:left;
    /* margin:5px; */

}
#carusel .slide h1.title{
    position: absolute;
    z-index: 100;
    top:200px;
    left:0px;
    background-color: rgba(50,50,50,0.5);
    color: white;
    padding: 20px 100px;
}