#map{
    height: 50px;
    width: 500px;
    border: 5px solid #666;

}

#map div{
    width: 48px;
    height: 48px;
    border: 1px solid #777;
    float: left;
}
#map .Pacman{
    background-image: url(Pacman.png)

}
#map .Cherry{
    background-image: url(Cherry.png)

}
#map .Bomb{
    background-image: url(Bomb.png)

}
#map .Coin{
    background-image: url(Coin.png)

}
#map .Pacman.left{
    transform: scaleX(-1)
}
#map .Pacman.explosion{
    background-image: url(explosion.gif);
    background-size: cover;
}